@import '../SASS/variables';
:root{
    background-color: $secondary;
}

body{
    margin: 0px;
}

nav{
    ul {
        position: relative;
        font-size: 40px; 
        list-style: none;
        font-family: 'alex brush';
        text-decoration: none;
        margin: 0;
        padding: 0;
        margin-top: 0%;
        justify-content: space-around;
        display: flex;
        width: 100%;
    
        .first {
            display: inline-block;
            margin: 0;
            position: relative;
            width: 100%;
            text-align: center;
            margin-top: 1%;
        }

        .logo {  
            display: flex;  
            margin-left: 0% ; 
            margin-right: 0px ;
            margin-top: 1%;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;

            padding: 0;
        }  
    }

    a{
        color: $primary;
        text-decoration: none;
        margin: 0;
        padding: 0;

        &:hover{
            color: $third;
        }
     } 
}

main {
    .hero{
        position: relative;

        .heroimg{
            flex-grow: 1;
            margin: 0;
            width: 100%;
            opacity: 23%;
            clip-path: polygon(100% 88%, 50% 100%, 0 88%, 0 0, 50% 10%, 100% 0);
        }

        h1{
            font-family: 'Alex Brush';
            position: absolute;
            top: 35%;
            left: 10%;
            font-size: 85px;
            letter-spacing: 2px;
            color: $primary;
        }

        p{
            position: absolute;
            top: 45%;
            left: 17%;
            font-family: 'Roboto Condensed';
            font-size: 50px;
            color: $primary;
        }

        .hero-svg {
            position: absolute;
            background-image: url(../IMG/svghero.svg);
            background-repeat: no-repeat;
            margin-top: 0%;
            background-position-y: bottom;
            height: 300px;
            width: 100%;
            background-size: 100%;
        }

        .hero-bottom-container {
            display: flex;
            z-index: 223;
            position: relative;
            margin-top: 0%;

            .hero-bottom-line {
                height: 120px;
                width: 50%;
                margin-top: -5%;
                   background: 
                       linear-gradient(to top left,
                           rgba(0,0,0,0) 0%,
                           rgba(0,0,0,0) calc(50% - 0.8px),
                           rgba(0,0,0,1) 50%,
                           rgba(0,0,0,0) calc(50% + 0.8px),
                           rgba(0,0,0,0) 100%);
            }

            .hero-bottom-line2 {
               
                 height: 120px;
                 width:50%;
                 margin-top: -5%;
                    background: 
                       linear-gradient(to top right,
                       rgba(0,0,0,0) 0%,
                       rgba(0,0,0,0) calc(50% - 1px),
                       rgba(0,0,0,1) 50%,
                       rgba(0,0,0,0) calc(50% + 1px),
                       rgba(0,0,0,0) 100%)
            } 
        }
    }
}

.section2 {
    margin: auto;
    display: block;
    width: 100%;
    flex-grow: 1;

    .container {
        display: flex;
        margin-top: 10%;
        width: 90%;
        height: auto;
        margin-bottom: -10%;
        margin-left: 5%;
        margin-right: 5%;
        flex-direction: row;
        text-decoration: none;

        .imgbox1{
   
            display: flex;
            justify-content: center;
            opacity: 80%;
            margin-bottom: 20%;
            width: 100%;

            .img1{
                display: block;
              margin-left: 0;
              margin-right: 0;
              height: 100% ;
              width: 80%;
              
              
            }


            
            .rec1{
                position: absolute;
                margin-left: 0%;
                margin-top: -3%;
                height: 60%;
                width: 30%;
                
                
            }

            a{
                color:transparent;
                background: 
                  linear-gradient(90deg,#9e8080 50%,$primary 0%) 
                  var(--_p,100%)/200% no-repeat; 
                  background-clip: text;
                -webkit-background-clip: text;                     
                transition: .4s;
                text-decoration: none;
                

                &:hover {
                    --_p:0%
                }
              }
        }

        .imgbox2{
            margin-left: 0%;
            display: flex;
            justify-content: center;
            opacity: 80%;
            margin-bottom: 20%;
            width: 100%;
            
            .img1{
                display: block;
              margin-left: 0;
              margin-right: 0;
              height: 100% ;
              width: 80%;
              
            }

            .rec2{
                position: absolute;
                margin-top: 0%;
                margin-left: 0%;
                height: 60%;
                width: 20%;
                
                
            }

            a{
                color:transparent;
                background: 
                linear-gradient(90deg,#9e8080 50%,$primary 0%) 
                var(--_p,100%)/200% no-repeat; 
                background-clip: text;
                -webkit-background-clip: text;
                text-decoration: none;
                transition: .4s;

                &:hover {
                    --_p:0%
                }
            }
        }

        .imgbox3{
            display: flex;
            justify-content: center;
            opacity: 80%;
            margin-bottom: 20%;
            width: 100%;

                .img1{
                display: block;
                margin-left: 0;
                margin-right: 0;
                height: 100% ;
                width: 80%;
                
                }

                .rec3{
                    transform: scaleX(-1);
                    position: absolute;
                    margin-left: 0%;
                    margin-top: -3%;
                    height: 60%;
                    width: 30%;
                }

                a{
                color:transparent;
                background: 
                linear-gradient(90deg,#9e8080 50%,#606060  0%) 
                var(--_p,100%)/200% no-repeat; 
                background-clip: text;
                -webkit-background-clip: text;
                transition: .4s;
                text-decoration: none;

                    &:hover{
                    --_p:0%
                    }
                }
        }

        h2{
            font-family: 'Alex Brush';
            position: absolute;
            font-size: 60px;
            color: $secondary;
            text-align:center;
            margin-top: 14%;
            text-shadow: -3px -4px $secondary;
            cursor: pointer;    
        }
    }
}

.section3 {

    .hero2{

        .heroimg2{
            height: 900px;
            width: 100%;
            opacity: 23%;
            display: grid;
            grid-template: 1fr / 1fr;
            place-items: center;
            clip-path: polygon(100% 100%, 50% 100%, 0% 100%, 0 0, 50% 11%, 100% 0);
            margin-top: 10%;
        
        }
        .heroimg2 > * {
            grid-column: 1 / 1;
            grid-row: 1 / 1;
        }

        .hero-svg2{
            z-index: 1;
            transform: scaleX(-1);
            position: absolute;
            background-image: url(../IMG/svghero.svg);
            background-repeat: no-repeat;
            margin-top: -3%;
            height:300px;
            width: 100%;
            background-size: 100%;
        }  
    }

    .hero-wrap{
        filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.5));
       

        .herobackground{
            width: 100%;
            height: 350px;
            background-color: $third;
            clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 21%, 100% 0);
            position: absolute;
            margin-right: 0;
            margin-top: -4%;
            
            
            display: flex;           
        }

        
        h1{
            font-family: roboto Condensed;
            color: $secondary;
            font-size:90px;
            margin-left: 25%;
            width: 33%;
            filter: drop-shadow(4px 4px 2.5px rgba(0, 0, 0, 0.5));
            letter-spacing: 4px;
            margin-top: -2%;
            height: 3%;
            
            
                          
        }

        p{
                font-family: roboto Condensed;
                color: $primary;
                font-size:100px;
                font-size: 190px;
                font-family: 'Alex Brush';
                margin: 0;
                margin-left: 32%;
                margin-top: -10%;
                filter: drop-shadow(-8px 5px 2px rgba(122, 122, 122, 0.5));
                transform: rotate(-25deg);
                width: 33%;
                letter-spacing: 4px;

                a{
                    text-decoration: none;
                    color: none;
                    list-style-type: none;
                    color: $primary;
                    color:transparent;
                    background: 
                    linear-gradient(90deg,#9e8080 50%,$primary 0%) 
                    var(--_p,100%)/200% no-repeat; 
                    background-clip: text;
                    -webkit-background-clip: text;
                    transition: .4s;

                    &:hover{
                        --_p:0%
                    }
                }           
            
            }
        h6{
            font-family: roboto Condensed;
            color: $secondary;
            width: 33%;
            font-size:60px;
            font-family: 'Roboto Condensed';
            margin-top: -3%;
            margin-left: 55%;
            color: $secondary;
            letter-spacing: 4px;
            filter: drop-shadow(4px 4px 1.5px rgba(0, 0, 0, 0.5));               
        }
        
    }
}

footer{
    margin-top: 0%;
    background: $secondary;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
   /*  box-sizing: border-box;
    border-top: $primary solid 1px ; */
    width: auto;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
    
    .footer-left {
        float: left;

        h3 {
            color: $primary;
            font-family: Alex brush ;
            font-size: 60px;
            margin-bottom: 5%;
            margin-top: -1%;
            font-weight: 1px;
        }

        .footer-links {
            color: #606060;
            margin: 0 0 10px;
            padding: 0;
            font-family: roboto condensed;
           
            a {
                display: inline-block;
                line-height: 1.8;
                text-decoration: none;
                color: inherit;
                font-size: 20px;
                margin-right: 10%;
                margin-bottom: 3%;
                &:hover{
                    color: $hover;
                }
               
              }
            
        }

        li {
  
            display: inline-block;
           /* -webkit-filter: invert(.75); 
            filter: invert(.75);  -> Invert Social Icons in Footer*/
            margin-top: 3%;

            img{ 
                display: inline-block;
                margin-right:10%;
                height: 30px;
                width: 30px;
                
            }
        }     
    }

    .footer-right {
        float: right;
        p {
            display: inline-block;
            vertical-align: top;
            margin: -1% 42px 3px 4px;
            color: &primary;
            font-family: roboto condensed;
            font-size: 25px;
        }

        form {
            display: inline-block;
            input, textarea {
                display: block;
                border-radius: 3px;
                box-sizing: border-box;
                background-color: $third;
                box-shadow: 1px $primary;
                border: none;
                resize: none;
                font: inherit;
                font-size: 14px;
                font-weight: normal;
                color: $primary;
                width: 400px;
                padding: 18px;
            }
            ::-webkit-input-placeholder {
                color: $primary;
            }

            ::-moz-placeholder {
                color: $primary;
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: $primary;
            }

            input {
                height: 55px;
                margin-bottom: 15px;
                letter-spacing: 3px;
            }

            textarea {
                height: 100px;
                margin-bottom: 20px;
                letter-spacing: 3px;
            }

            button {
                border-radius: 3px;
                background-color: $third;
                color: $primary;
                border: 0;
                padding: 15px 50px;
                font-weight: bold;
                float: right;
                font-family: roboto condensed;
                letter-spacing: 3px;
            }
        }
    }
}

@media (max-width: 1360px) {
    .footer-distributed {
      padding: 20px;
      
    }

    #blomadogg{
    font-size: 60px;
    width: 500px;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
      float: none;
      max-width: 300px;
      margin: 0 auto;
      margin-left: 30%;
    }
  
    .footer-distributed .footer-left {
      margin-bottom: 40px;
      margin-left: 30%;
    }
  
    .footer-distributed form {
      margin-top: 30px;
    }
  
    .footer-distributed form {
      display: block;
    }
  
    .footer-distributed form button {
      float: none;
    }
}
 
 @media only screen and (max-width:1360px){
  
  nav {
    height: 50px;
    width: 100%;
    position: relative;
  }  
  
  nav ul {
   display: flex;
    width: 100%;
  }


#logo{
    height: 90px;
    width: 90px;
    margin-top: 6%;
}

#heroimg{
    width: 100%;
    height: 700px;
    margin-top: 1%;
    clip-path: polygon(100% 84%, 50% 100%, 0 84%, 0 0, 50% 7%, 100% 0);
    
}

#header {
    font-size: 70px;
    margin-left: 5%;
    margin-top: -5%;
    }
#paragraph {
    margin-top: -5%;
    font-size: 40px;
    margin-left: 5%;
}

#herosvg {
    height: 250px;
    width: 100%;
    min-height: 200px;
    margin-top: -4%;
  
}

#heroline, #linehero{
    margin-top: -11%;
    background: 
   
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 0.8px),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) calc(50% + 0.8px),
        rgba(0,0,0,0) 100%;
}

#recone, #recthree {
    margin-top: -4%;
    height: 465px;
    width: 450px;
}

#rectwo {
    margin-top: -2.6%;
    height: 450px;
    width: 370px;
}
.herotext{
    height: 10%;
}


#container {
    display: block;
}

#imgone, #imgtwo, #imgthree{
    height: 400px;
    width: 400px;
}

#imgboxone, #imgboxtwo, #imgboxthree{
    font-size: 80px;
    margin-top: 15%;
    border: $third 2px dashed;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0%;
    border-radius: 50px;
}

#heroimgone{
height: 700px;
}

#heroback{
    clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 25%, 100% 0);
    margin-top: -10%;
}

#let{
    margin-top: -5%;
    font-size: 50px;
}

#you{
    font-size: 50px;
    width: auto;
    margin-top:0%;
    margin-left: 40%;
    margin-bottom: -5;
}

#dec {
    transform: rotate(0);
    font-size: 80px;
    background-color: #c0c1a6f3;
    border: 2px dashed #606060 ;
    border-radius:40px;
    height: 50px;
    min-width: 330px;
    margin-left: 30%;
    margin-top: -3%;
    padding-bottom: 5%;
    padding-left: 2%;
}

#contact{
    margin-top: 0%;
}

} 
  


