:root{
    background-color: #F2F2F2;
}
body{
    margin: 0px;
}



nav ul {
    position: relative;
    font-size: 40px; 
    list-style: none;
    font-family: 'alex brush';
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    justify-content: space-around;
    display: flex;
    width: 100%;
    
}

.first {
    /* This is a nav ul li*/
    display: inline-block;
    margin: 0;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 1%;
   
}



nav li:hover{
    color: #CDBDB2;
}

nav a{
    color: #606060;
    text-decoration: none;
    margin: 0;
    font-family: alex brush;
    padding: 0;
 } 

nav li a:hover{
    color: #CDBDB2;
}

.logo {  
    /* This is a nav ul li*/
    display: flex;  
    margin-left: 0% ; 
    margin-right: 0px ;
    margin-top: 2%;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    
    }  






.drop{
    display: block;
    position: absolute;
    font-family: 'Roboto Condensed';
    font-size: 30px;
    background-color: #CDBDB2;
    margin: 0;
    padding: 0;
    width: 100%;

 }



 .menu-sub li{
    display: block;
 }

 
 


.hero h1{
    font-family: 'Alex Brush';
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 85px;
    letter-spacing: 2px;
    color: #606060;
    
}
.hero p{
    position: absolute;
    top: 45%;
    left: 17%;
    font-family: 'Roboto Condensed';
    font-size: 50px;
    color: #505050;
}

.heroimg{
    flex-grow: 1;
    margin: 0;
    width: 100%;
    
    clip-path: polygon(100% 88%, 50% 100%, 0 88%, 0 0, 50% 10%, 100% 0);
    
}

  
.hero img {
    opacity: 23%;
    
    
}
.hero {
    position: relative;

        
        
       
        
       
      
}

.hero-svg {
    position: absolute;
    background-image: url(../IMG/svghero.svg);
    background-repeat: no-repeat;
    margin-top: 0%;

    height: 300px;
    width: 100%;
    background-size: 100%;
}
.hero-bottom-container {
    display: flex;
    z-index: 223;
    position: relative;
    margin-top: -7%;

}
.hero-bottom-line {

 height: 120px;
 width: 50%;
    background: 
        linear-gradient(to top left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 0.8px),
            rgba(0,0,0,1) 50%,
            rgba(0,0,0,0) calc(50% + 0.8px),
            rgba(0,0,0,0) 100%);
}
.hero-bottom-line2 {

  height: 120px;
  width:50%;
     background: 
        linear-gradient(to top right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 1px),
        rgba(0,0,0,1) 50%,
        rgba(0,0,0,0) calc(50% + 1px),
        rgba(0,0,0,0) 100%)
 } 


.section2{
    margin: auto;
    display: block;
    width: 100%;
    flex-grow: 1;
  
}

.section2 .container {
    
    display: flex;
    margin-top: 10%;
    width: 90%;
    height: auto;
    margin-bottom: -10%;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
    text-decoration: none;
    
    

}


.img1{
    display: block;
  margin-left: 0;
  margin-right: 0;
  
}

.rec1{
    position: absolute;
    margin-left: 0%;
    margin-top: -6%;
    height: 500px;
    width: 30%;
}

.rec2{
    position: absolute;
    margin-top: -2.2%;
    margin-left: 0%;
    height: 425px;
    width: 20%;
    
}
.imgbox1{
   
    display: flex;
    justify-content: center;
    opacity: 80%;
    margin-bottom: 20%;

    
}
.container h2{
    font-family: 'Alex Brush';
    position: absolute;
    font-size: 60px;
    color: #F2F2F2;
    text-align:center;
    margin-top: 14%;
    text-shadow: -2px -3px #F2F2F2;
    cursor: pointer;    
    

}
.section2 .container .imgbox1 .imghover a{
    color:transparent;
    background: 
      linear-gradient(90deg,#9e8080 50%,#606060 0%) 
      var(--_p,100%)/200% no-repeat; 
      background-clip: text;
    -webkit-background-clip: text;
           
    transition: .4s;
    
  }
.imghover a{
  text-decoration: none;
  color: none;
}

.section2 .container .imgbox1 .imghover a:hover {
    --_p:0%
}


.imgbox2{
    margin-left: 0%;
    display: flex;
    justify-content: center;
    opacity: 80%;
    margin-bottom: 20%;
}

.section2 .container .imgbox2 .imghover a{
    color:transparent;
    background: 
      linear-gradient(90deg,#9e8080 50%,#606060 0%) 
      var(--_p,100%)/200% no-repeat; 
      background-clip: text;
    -webkit-background-clip: text;
    text-decoration: none;
    transition: .4s;
    
  }
.section2 .container .imgbox2 .imghover a:hover {
    --_p:0%
}

.imgbox3{
    display: flex;
    justify-content: center;
    opacity: 80%;
    margin-bottom: 20%;

    
}

.section2 .container .imgbox3 .imghover a{
    color:transparent;
    background: 
      linear-gradient(90deg,#9e8080 50%,#606060 0%) 
      var(--_p,100%)/200% no-repeat; 
      background-clip: text;
    -webkit-background-clip: text;
           
    transition: .4s;
    
  }
.section2 .container .imgbox3 .imghover a:hover {
    --_p:0%
}

.rec3{
    transform: scaleX(-1);
    position: absolute;
    margin-left: 0%;
    margin-top: -6%;
    height: 500px;
    width: 30%;
   
}



.heroimg2{
    height: 900px;
    width: 100%;
    opacity: 23%;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    clip-path: polygon(100% 88%, 50% 100%, 0 88%, 0 0, 50% 11%, 100% 0);

}

.heroimg2 > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

.hero .heroimg2{
    z-index: 2;
}
.hero2 .hero-svg2{
    z-index: 1;
    transform: scaleX(-1);

}  

.hero-svg2 {
    position: absolute;
    background-image: url(../IMG/svghero.svg);
    background-repeat: no-repeat;
    margin-top: -3%;
    height:300px;
    width: 100%;
    background-size: 100%;
    position: absolute;
}
.hero-wrap{
        filter: drop-shadow(4px 4px 9px rgba(0, 0, 0, 0.5));
    

}

.herobackground{
    width: 100%;
    height: 300px;
    background-color: #CDBDB2;
    clip-path: polygon(100% 100%, 50% 100%, 0 100%, 0 0, 50% 35%, 100% 0);
    position: absolute;
    margin-right: 0;
    margin-top: -9.5%; 
    display: flex;   
   

}

.herotext {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
}
.herotext a{
  text-decoration: none;
  color: none;
  list-style-type: none;
  color: #606060;
  color:transparent;
  background: 
    linear-gradient(90deg,#9e8080 50%,#606060 0%) 
    var(--_p,100%)/200% no-repeat; 
    background-clip: text;
  -webkit-background-clip: text;
         
  transition: .4s;
}

.herotext a:hover{
  
  --_p:0%
}

.herotext h1{
    font-family: roboto Condensed;
    color: #F2F2F2;
    font-size:90px;
    margin-left: 20%;
    width: 33%;
    filter: drop-shadow(4px 4px 2.5px rgba(0, 0, 0, 0.5));
    letter-spacing: 4px;
    margin-top: -5%;
    
}
.herotext p{
    font-family: roboto Condensed;
    color: #606060;
    font-size:90px;
    font-size: 190px;
    font-family: 'Alex Brush';
    margin: 0;
    margin-left: -20%;
    margin-top: -5%;
    filter: drop-shadow(-8px 5px 2px rgba(122, 122, 122, 0.5));
    transform: rotate(-25deg);
    width: 33%;
    letter-spacing: 4px;
 
    
}

.herotext h6{
    font-family: roboto Condensed;
    color: #F2F2F2;
    width: 33%;
    font-size:60px;
    font-family: 'Roboto Condensed';
    margin-top: 3%;
    margin-left: -12%;
    color: #F2F2F2;
    letter-spacing: 4px;
     filter: drop-shadow(4px 4px 1.5px rgba(0, 0, 0, 0.5));
    
}

.footer-distributed {
  background: #f2F2f2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-top: #606060 solid 1px ;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  background: #f2f2f2;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

/* The company logo */

.footer-distributed h3 {
  color: #606060;
  font-family: Alex brush ;
  font-size: 60px;
  margin-bottom: 2%;
  font-weight: 1px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #606060;
  margin: 0 0 10px;
  padding: 0;
  font-family: roboto condensed;
  
}





.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  margin-right: 10%;
  margin-bottom: 3%;
}


/* Footer social icons */

.footer-distributed li {
  
display: inline-block;
-webkit-filter: invert(.75); 
filter: invert(.75);


}
.footer-distributed li img{
  
    display: inline-block;
   
    margin-right:10%;
    height: 30px;
    width: 30px;
}

/* Footer Right */

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: -1% 42px 3px 4px;
  color: #606060;
  font-family: roboto condensed;
  font-size: 25px;
}

/* The contact form */

.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #CDBDB2;
  box-shadow: 1px #606060;
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: f2f2f2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #606060;
}

.footer-distributed ::-moz-placeholder {
  color: #606060;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #CDBDB2;
  color: #606060;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  font-family: roboto condensed;
  letter-spacing: 3px;
}


@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

 

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}
