@import '../SASS/variables';



* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
    color: $secondary;
    
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

nav{
    
    ul {
    margin: 0;
        li {
        display: inline;
        
            a {
            display: inline-block;
            padding: .5em;
            color: $primary;
            text-decoration: none;
            font-family: 'alex brush';
            font-size: 30px;
            &:hover {
                color: $third;
            }
            }
        }
    }
}





.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid $secondary;
    color: $primary;
    background-color: $secondary;
}

.main-nav li {
    padding: 0 5%;
}



.main-header {
    background-color: $primary;
   
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Alex Brush";
    font-weight: normal;
    color: $secondary;
    padding-top: 2%;
}

.brand-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "Roboto Condensed";
    font-weight: normal;
    color: $primary;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: $primary;
    color:$secondary;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
    list-style: none;

}

.footer-nav img {
    width: 30px;
    height: 30px;
    -webkit-filter: invert(.75); 
    filter: invert(.75);
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid $primary;
    background-color: $primary;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color:$primary;
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: $fifth;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: $third;
}

.tour-row {
    border-bottom: 1px solid $primary;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: $primary;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;

}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: $primary;
    margin-bottom: 15px;
    padding-top: 2%;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: $primary;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: $primary;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $primary;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: $primary;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: $primary;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: $secondary;
    background-color: $danger;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: $danger;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid $primary;
    background-color: $secondary;
    color: $primary;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid $primary;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: $primary;
    margin-right: 20px;
}

.cart-total-price {
    color: $primary ;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}