body {
  position: relative;
  font-family: Roboto condensed;
  background-color: #f2f2f2;
}

header ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em;
  color: #707070;
  font-family: "alex brush";
  font-size: 30px;
}
header a:hover {
  color: #CDBDB2;
}

h1 {
  text-align: center;
  font-family: Alex brush;
  color: h1 Primary;
  font-size: 50px;
  margin: 2%;
}

p {
  text-align: center;
  font-size: 30px;
  margin: 2%;
}

main {
  text-align: center;
}
main #myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg1:hover {
  opacity: 0.7;
}
main #myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg2:hover {
  opacity: 0.7;
}
main #myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg3:hover {
  opacity: 0.7;
}
main #myImg4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg4:hover {
  opacity: 0.7;
}
main #myImg5 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg5:hover {
  opacity: 0.7;
}
main #myImg6 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg6:hover {
  opacity: 0.7;
}
main #myImg7 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg7:hover {
  opacity: 0.7;
}
main #myImg8 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg8:hover {
  opacity: 0.7;
}
main #myImg9 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg9:hover {
  opacity: 0.7;
}
main #myImg10 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg10:hover {
  opacity: 0.7;
}
main #myImg11 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg11:hover {
  opacity: 0.7;
}
main #myImg12 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg12:hover {
  opacity: 0.7;
}
main #myImg13 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg13:hover {
  opacity: 0.7;
}
main #myImg14 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg14:hover {
  opacity: 0.7;
}
main #myImg15 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg15:hover {
  opacity: 0.7;
}
main #myImg16 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg16:hover {
  opacity: 0.7;
}
main #myImg17 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg17:hover {
  opacity: 0.7;
}
main #myImg18 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg18:hover {
  opacity: 0.7;
}
main #myImg19 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg19:hover {
  opacity: 0.7;
}
main #myImg20 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
main #myImg20:hover {
  opacity: 0.7;
}

/* Style the Image Used to Trigger the Modal */
.container {
  display: inline;
  position: relative;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}/*# sourceMappingURL=wedding.css.map */